[submodule "tests/Bootstrap TLDR/packages/bootstrap-less-data/bootstrap"]
	path = tests/Bootstrap TLDR/packages/bootstrap-less-data/bootstrap
	url = https://KyleKing@github.com/twbs/bootstrap
[submodule "tests/Bootstrap TLDR/packages/customizable-bootstrap-stylus-data/bootstrap"]
	path = tests/Bootstrap TLDR/packages/customizable-bootstrap-stylus-data/bootstrap
	url = https://KyleKing@github.com/maxmx/bootstrap-stylus
