@import "lib/custom.bootstrap.styl"


// Put your Stylus code here!
.wrapper
  @extend make-row()
.content-main
  @extend make-lg-column(8)
.content-secondary
  @extend make-lg-column(3)
  @extend make-lg-column-offset(1)
