// @import "lib/custom.bootstrap.mixins.import.styl"
@import "lib/custom.bootstrap.import.styl"



// Use Stylus demo as a sanity check
red = #E33E1E
yellow = #E2E21E

.message
  // @extends .clearfix
  // .clearfix
  padding: 10px
  font: 14px Helvetica
  border: 1px solid #eee

.warning
  @extends .message
  border-color: yellow
  background: yellow + 70%

.error-text
  @extends .message
  border-color: red
  background: red + 70%

.fatal
  @extends .error-text
  font-weight: bold
  color: red


// If that goes well try a very basic mixin using bootstrap's syntax:
test-text()
  background-color transparent
  border 0

.wrapper
	text-hide()
	// test-text()
	// make-row()
  // @extends .show-text()
  // @extends .make-row




// Then full blown test from the above import file
header
  .brand
    make-sm-column(4)

.test
  make-row()




// // Put your Stylus code here!
// .wrapper
//   @extend .make-row()
// .content-main
//   @extend .make-lg-column(8)
// .content-secondary
//   @extend .make-lg-column(3)
//   @extend .make-lg-column-offset(1)
