// @import "lib/custom.bootstrap.import.styl"
//
//
// // Put your Stylus code here!
// .wrapper
//   @extend .make-row()
// // .content-main
// //   make-lg-column(8)
// // .content-secondary
// //   @extend make-lg-column(3)
// //   @extend make-lg-column-offset(1)

// Notes:

// Haha, then I will definitely make the change. Whatever we figure out here will be updated to the readme as well.
//
// I think I know what it is. When you convert from LESS to Stylus you would take something like [(Source)](https://github.com/andreypopp/less2stylus):
//
// ```less
// body {
//   .some-mixin()
// }
// ```
// and convert it to:
// ```stylus
// body
//   @extend .some-mixin
// ```
//
// but the error is:
// ```Failed to @extend ".clearfix" ```
// with .clearfix inside quotes.
//
//
// I think there must be a set of quotations added in somewhere that is causing the issue. I recreated a simliar~ish issue with:
// ```stylus
//
// ```
//
// Which spit out:
// ```Failed to @extend ".make-row()"```
//
//
